<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <scrop
</head>
<body>
    <form action="/signup_process" method="POST">
        signup page
        id<input type="text" name="id" style="margin-left: 10px"><button type="">check</button><br>
        password<input type="password" name="pw" style="margin-left: 10px"><br>
        name<input type="text" name="name" style="margin-left: 10px"><br>
        email<input type="email" name="email" style="margin-left: 10px"><br>
        address<input type="text" name="address" size="15" style="margin-left: 10px"><br>
        mobile<input type="test" name="mobile" style="margin-left: 10px"><br>
        birth<input type="date" name="birth" style="margin-left: 10px"><br>
        <button type="button" onclick="location.href='/'">cancel</button>
        <button type="submit">signup</button>
</form>
</body>
</html>